<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !^dashboard/dist
RewriteRule ^admin dashboard/dist/index.html [NC,L]
RewriteRule ^account dashboard/dist/index.html [L]
RewriteRule ^payment dashboard/dist/index.html [L]
RewriteRule ^list-product dashboard/dist/index.html [L]
RewriteRule ^detail dashboard/dist/index.html [L]
RewriteRule ^thanks dashboard/dist/index.html [L]
RewriteRule ^404 dashboard/dist/index.html [L]

RewriteRule ^api/test$ dashboard/dist/extrim-api/v1/test.php [QSA,NC,L]
RewriteRule ^api/v1/google/(\d*)$ dashboard/dist/extrim-api/v1/classes/libs/Google-Plus/signin.php [QSA,NC,L]
RewriteRule ^api/v1/product/(\d*)$ dashboard/dist/extrim-api/v1/api.php?request=product&id=$1 [QSA,NC,L]
RewriteRule ^api/v1/attachment/(\d*)$ dashboard/dist/extrim-api/v1/api.php?request=attachment&id=$1 [QSA,NC,L]
RewriteRule ^api/v1/(.*)$ dashboard/dist/extrim-api/v1/api.php?request=$1 [QSA,NC,L]
RewriteRule ^uploads/(.*)$ dashboard/dist/extrim-api/v1/uploads/$1 [QSA,NC,L]
RewriteRule ^$ dashboard/dist/index.html
</IfModule>

